<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="col-12">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <p><%= link_to 'Регистрация пользователя', new_registration_path(resource_name), class: 'right'  %></p>
  </div>
</div>
