#products_table {
  .sync {
    background-color: #ffe5ae;
  }
}
form {
  .editable {
    padding: 10px;
    background-color: #9fffb8;
  }
  span {
    padding: 10px;
    display: inline-block;
  }
}

