<li class="nav-item <%= 'active' if current_page?(users_path) %>'"><%= link_to 'User', users_path, class: 'nav-link' %></li>
<li class="nav-item <%= 'active' if current_page?(page_path('about')) %>'"><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
